@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200..800&family=Comfortaa:wght@300..700&family=Comic+Relief:wght@400;700&family=Lato&family=National+Park&family=Noto+Kufi+Arabic:wght@100..900&family=Noto+Sans+Arabic:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

@import "tailwindcss";

* {
  font-family: "National Park", sans-serif;
  font-weight: 700;
}